
.menu {    
    font-family: "Nunito Sans", sans-serif;
    align-self: left;
    margin-top: 2em;
}

/* Tab styling */

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.nav {
    display: flex;      
    justify-content: center;
    background-color: var(--clr-dark);   
}

.nav-link {
    padding: 0;
    margin-right: 8px;
    width: 110px;
    text-align: center;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.nav-tabs .nav-item {
    color: white; /*color of the tabs fonts*/
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    position: relative;
}


.nav-tabs .nav-link {
    text-decoration: none; /* no underline*/
    transition: transform 100ms ease-in-out;
}

.nav-link:hover, .nav-link:focus {
    border-color: black; /*when you click on them the color of the border*/
    background-color: var(--clr-dark);

    transform: scale(1.1);
}

.nav-link::after { /* Accent underneath */
    content: '';
    display: block;
    height: 4px;
    background-color: var(--clr-accent);

    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-tabs .nav-link.disabled { /*disabled */
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: var(--clr-accent); /*when u cick on them */

    transform: scale(1.1);

    color: black;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}