.my-tools {
    
    background-color: var(--clr-dark);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./tools-bg.jpg);
    background-size: cover;
}

.section__title--tools {    
    margin: 0 auto;
    text-align: center;
    max-width: 800px; /* adjust text width */ 
    color: var(--clr-accent);
}

.section__title--tools::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.75em;
    background: var(--clr-light);
    opacity: 0.25em;
}

.section__subtitle--tools {
    padding: 1em 36px 0;
    color: var(--clr-accent);
}

.section__subtitle--tools::after {
    content: '';
    display: block;
    height: 2px;
    margin: 0.5em 0 0.75em;
    background: var(--clr-light);
    opacity: 25%;
}


.tools-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    margin: 0 auto;
    width: 65%
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    justify-items: center;
    gap: 1em;
    padding: 1em 2em 0;

}

.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tool[data-tool-tip] {
    
    position: relative;
}

.tool[data-tool-tip]::after {
    content: attr(data-tool-tip);
    position: absolute;
    display: block;
    background-color: var(--clr-dark);
    color: white;
    border-radius: 7px;
    padding: 1em 1.5em;
    bottom: 0;
    transform: scale(0);
    transition: 
        transform ease-out 175ms,
        bottom ease-out 175ms;
}

.tool[data-tool-tip]:hover::after {
    transform: scale(1);
    bottom: 100%;
}

.tool__name {
    color: white;
    font-weight: bold;
    text-align: center;
}

.tool__img-wrapper {    
    border-radius: 100%;   
    height: 100px;
    width: 100px;
    background-color: var(--clr-dark);
    overflow: hidden;   
}

.tool__img {
    border-radius: 50%;
    margin: 12.5px auto;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.databases-wrapper {
    width: 50%;
}

.frameworks-wrapper {
    width: 50%;
}

.tools-row {
    display: flex;
}