.my-tools {
    
    background-color: var(--clr-dark);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./tools-bg.jpg);
    background-size: cover;
}

.section__title--tools {    
    margin: 0 auto;
    text-align: center;
    max-width: 800px; /* adjust text width */ 
    color: var(--clr-accent);
}

.section__title--tools::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.75em;
    background: var(--clr-light);
    opacity: 0.25em;
}

.section__subtitle--tools {
    padding: 1em 36px 0;
    color: var(--clr-light);
}

.section__subtitle--tools::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em 0 0.75em;
    background: var(--clr-light);
    opacity: 0.25em;
}


.tools-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    margin: 0 auto;
    width: 70%
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    justify-items: center;
    gap: 1em;
    padding: 1em 2em 0;

}

.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tool__name {
    color: white;
    font-weight: bold;
    text-align: center;
}

.tool__img-wrapper {    
    border-radius: 100%;   
    height: 100px;
    width: 100px;
    background-color: var(--clr-dark);
    overflow: hidden;   
}

.tool__img {
    border-radius: 50%;
    margin: 12.5px auto;
    height: 75px;
    width: 75px;
    object-fit: cover;
}
